@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* reset css */
* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.868);
  color: white;
}

div {
  display: flex;
  justify-content: center;
}

/*ESTILIZAÇÃO PADRÃO*/

/*CABEÇALHO E PLACAR*/
#cabecalho {
  font-weight: 100;
  margin: 15px;
  padding: 4px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  min-width: 300px;
  flex-direction: column;
}
#tittle-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#game-tittle {
  font-weight: bolder;
  color: gray;
  font-size: clamp(
    28px,
    10vw,
    70px
  ); /*clamp recebe valor minimo, ideal, maximo para trabalhar com mobile */
  font-weight: 600;
}
.game-sub-tittle {
  font-weight: bolder;
  color: gray;
  font-size: clamp(14px, 4.8vw, 20px);
  font-weight: 600;
}

#placar-container {
  width: 100%;
  display: flex;
}

#placar-component {
  border-radius: 5px;
  background: linear-gradient(145deg, #3b3b3b, #222222);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  padding: 10px 0px;
  min-width: 100%;
}

.placar-tittle-container {
  background: linear-gradient(145deg, #3b3b3b, #222222);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 5px;
  width: 80%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.placar-tittle {
  font-size: clamp(2px, 6vw, 25px);
}

#pontuacoes {
  width: 80%;
  text-align: center;
}
#pontuacao-atual {
  margin: 10px 0px;
  font-size: clamp(5px, 3.8vw, 20px);
}

.pontuacao-item {
  font-size: clamp(5px, 3.9vw, 20px);
  justify-content: center;
  align-items: center;
}
#pontos {
  margin-left: 10px;
  margin-right: 3px;
  font-size: clamp(5px, 4vw, 20px);
}

.placar-tittle-container.gold-tittle {
  background: linear-gradient(145deg, #d4af37, #f5c731, #c8a300);
}

#historico-pontuacoes {
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

#lista-historico-pontuacao {
  list-style: none;
  width: 75%;
}

.item-historico-pontuacao {
  gap: 6px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: large;
  font-size: 1rem;
}
.historico-nome-pontuador {
}
.historico-quantidade-pontos {
}

/* GAME */
#game-container {
  position: relative;
  height: auto;
  margin-top: -50px;
  height: 580px;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
}
.triangulo {
  width: 0px;
  height: 0px;
  cursor: pointer;
  background-color: transparent;
}
.triangulo-cima {
  border-left: 62.5px solid transparent;
  border-top: none;
  border-right: 62.5px solid transparent;
}
.triangulo-cima-aceso {
  transition: all 0.6s;
  border-bottom: 300px solid rgb(0, 177, 0);
}

.triangulo-cima-apagado {
  border-bottom: 300px solid rgb(0, 85, 0);
}
#botao-topo {
}

.triangulo-baixo {
  border-left: 62.5px solid transparent;
  border-right: 62.5px solid transparent;
  border-bottom: none;
}
.triangulo-baixo-aceso {
  transition: all 0.6s;
  border-top: 300px solid rgb(49, 49, 255);
}

.triangulo-baixo-apagado {
  border-top: 300px solid rgb(14, 14, 136);
}
#botao-baixo {
}

.triangulo-esquerda {
  border-top: 62.5px solid transparent;
  border-bottom: 62.5px solid transparent;
  border-left: none;
}

.triangulo-esquerda-aceso {
  transition: all 0.6s;
  border-right: 300px solid rgb(155, 55, 255);
}

.triangulo-esquerda-apagado {
  border-right: 400px solid rgb(82, 0, 163);
}

#botao-esquerda {
}

.triangulo-direita {
  border-top: 62.5px solid transparent;
  border-bottom: 62.5px solid transparent;
  border-right: none;
}
.triangulo-direita-aceso {
  border-left: 300px solid orangered;
  transition: all 0.6s;
}

.triangulo-direita-apagado {
  border-left: 400px solid rgb(126, 34, 0);
}
#botao-direita {
}

#menu-quadrado {
  background-color: rgba(0, 0, 0, 0.898);
  text-align: center;
  align-items: center;
  z-index: 9999;
  transform: rotate(45deg);
}
#menu-redondo {
  width: 200.5px;
  height: 200.5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.898);
  color: black;
  text-align: center;
  position: absolute;
  align-items: center;
}

.botao-menu {
  background: none;
  cursor: pointer;
  border-bottom: 4px solid gray;
  color: white;
  transform: rotate(-45deg);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 25px;
}
.display {
  display: none;
}

/*FIM ESTILIZACAO PADRÃO*/

@media (max-width: 598px) {
  /*CABEÇALHO E PLACAR*/
  #cabecalho {
  }
  #tittle-container {
    text-align: center;
    gap: 5px;
  }
  #placar-container {
    width: 40%;
    min-width: 20%;
  }
  #placar-component {
  }

  .placar-tittle-container {
  }

  #placar-tittle {
  }

  #pontuacoes {
    margin: 5px 0px;
  }
  .pontuacao-item {
    margin: 4px 0;
  }
  #pontos {
  }
  .placar-tittle-container.gold-tittle {
  }

  #historico-pontuacoes {
  }

  #lista-historico-pontuacao {
  }

  .item-historico-pontuacao {
  }

  .historico-nome-pontuador {
  }
  .historico-quantidade-pontos {
  }

  /* GAME */
}

/*FIM MOBILE*/

/*TABLET*/

@media (min-width: 599px) and (max-width: 900px) {
  #cabecalho {
  }
  #tittle-container {
    text-align: start;
    flex-direction: column;
    gap: 5px;
    width: 70%;
  }

  #game-tittle {
    font-size: clamp(28px, 6vw, 100px);
  }
  #game-sub-tittle {
    font-size: clamp(14px, 0.3vw, 20px);
    padding-left: 50px;
  }
  #placar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  #placar-component {
    min-width: 50%;
    width: 50%;
  }

  .placar-tittle-container {
  }

  .placar-tittle {
    font-size: clamp(0px, 3vw, 70px);
  }

  #pontuacoes {
    margin: 5px 0px;
  }
  #pontuacao-atual {
    font-size: clamp(0px, 2.5vw, 70px);
  }
  .pontuacao-item {
    margin: 4px 0;
    font-size: clamp(0px, 2vw, 70px);
  }
  #pontos {
  }
  .placar-tittle-container.gold-tittle {
  }

  #historico-pontuacoes {
  }

  #lista-historico-pontuacao {
  }

  .item-historico-pontuacao {
  }

  .historico-nome-pontuador {
  }
  .historico-quantidade-pontos {
  }
}

/*FIM TABLET*/

/*DESKTOP*/
@media (min-width: 901px) {
  #cabecalho {
    flex-direction: row;
  }
  #tittle-container {
    text-align: center;
    justify-content: center;
    width: 100%;
    display: fle;
    gap: 5px;
  }
  #game-tittle {
    font-size: clamp(28px, 8vw, 70px);
  }
  #placar-container {
    width: 60%;
    flex-direction: row;
    justify-content: center;
  }
  #placar-component {
    width: 400px;
    min-width: 400px;
  }

  .placar-tittle-container {
  }

  #placar-tittle {
  }

  #pontuacoes {
    margin: 5px 0px;
  }
  .pontuacao-item {
    margin: 4px 0;
  }
  #pontos {
  }
  .placar-tittle-container.gold-tittle {
  }

  #historico-pontuacoes {
  }

  #lista-historico-pontuacao {
  }

  .item-historico-pontuacao {
  }

  .historico-nome-pontuador {
  }
  .historico-quantidade-pontos {
  }
}

/*FIM DESKTOP*/

.gradient-border {
  --borderWidth: 3px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.rainbow-text {
  background-image: repeating-linear-gradient(
    45deg,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 25%;
  }

  100% {
    background-position: 0% 50%;
  }
}
